<!-- about -->
<section class="bg-light page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title }}</h2>
      <h3 class="section-subheading text-muted">{{ site.data.sitetext.about.text }}</h3>
    </div>
  </div>

  <div class="row">
    {% for person in site.data.sitetext.about.people %}
      <div class="col-lg-4">
        <div class="team__member">
          <img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">
          <h4 class="mb-2 ">{{ person.name }}</h4>
          <p class="team__member--fingerprint text-muted mx-auto">{{ person.fingerprint }}</p>

          {% assign networks = "" | split:"|" %}

          {% for network in person.social %}
            {% assign networks = networks | push: network.icon %}
          {% endfor %}

          {% include svg.html icons=networks %}
          {% include svg.html icon=person.email.icon %}
          
          <ul class="list-inline link-buttons">
            <li class="list-inline-item">
              <a target="_blank" href="{{ person.email.address | prepend: 'mailto:' | encode_email }}" title="{{ person.email.title }}">
                <svg class="link-buttons--icon">
                  <use xlink:href="#{{ person.email.icon }}"></use>
                </svg>
                <span class="link-buttons--name">{{ network.title }}</span>
              </a>
            </li>

            {% for network in person.social %}
              <li class="list-inline-item">
                <a target="_blank" href="{{ network.url }}" title="{{ network.title }}">
                  <svg class="link-buttons--icon">
                    <use xlink:href="#{{ network.icon }}"></use>
                  </svg>
                  <span class="link-buttons--name">{{ network.title }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      
      <div class="col-lg-8 mx-auto my-auto">
        <div class="large text-muted">
          {% for paragraph in person.bio %}
            {{ paragraph | markdownify }}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</section>
<!-- End about -->
