{% assign owner = site.data.sitetext.about.people | where: "type", "owner"  | first %}
{% assign networks = "" | split:"|" %}

{% for network in owner.social %}
  {% assign networks = networks | push: network.icon %}
{% endfor %}

{% include svg.html icons=networks %}
{% include svg.html icon=owner.email.icon %}

<!-- Footer -->
<footer class="footer {% if page.layout == 'redirect' %}fixed-bottom{% endif %}" id="footer" style="background-color:white;">
  <div class="container">
    <div class="row align-items-center">      
      <!-- Social Media -->
      <div class="col-md-6">
        <ul class="list-inline  link-buttons">
          <li class="list-inline-item">
            <a target="_blank" href="{{ owner.email.address | prepend: 'mailto:' | encode_email }}" title="{{ owner.email.title }}">
              <svg class="link-buttons--icon">
                <use xlink:href="#{{ owner.email.icon }}"></use>
              </svg>
              <span class="link-buttons--name">{{ network.title }}</span>
            </a>
          </li>

          {% for network in owner.social %}
            <li class="list-inline-item">
              <a target="_blank" href="{{ network.url }}" title="{{ network.title }}">
                <svg class="link-buttons--icon">
                  <use xlink:href="#{{ network.icon }}"></use>
                </svg>
                <span class="link-buttons--name">{{ network.title }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <!-- Legal -->
      <div class="col-md-6">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="/meeting">Meeting</a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://framagit.org/riservato-xyz/portfolio">Source Code</a>
          </li>
          <li class="list-inline-item">
            <a href="/legal">{{ site.data.sitetext.footer.legal | default: "Privacy Policy" }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
  <!-- End Footer -->
