<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="onion-location" content="http://riserpiv55o32geh.onion" />
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- lightbox core CSS -->
  <link href="/assets/css/lightbox.min.css" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/assets/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this theme -->
  <!-- <link href="/assets/css/agency.min.css" rel="stylesheet"> -->
  <link href="/assets/css/agency.css" rel="stylesheet">
  
  <!-- Page container change top padding when nav shrinks -->
  {% if page.layout == "page" %}
  <style>
    #pagecontainer {padding-top: 150px;}
	@media only screen and (max-width: 991px) {
	  #pagecontainer {padding-top: 100px;}
	}
  </style>
  {% endif %}

  {% if page.redirect == nil %}

    <title>{% if page.title %}{{ page.title | capitalize | append: " | " | append: site.title }}{% else %}{{ site.title | append: " | " | append: site.description }}{% endif %}</title>

  {% else %}

    <title>redirecting you to {{ page.title }}...</title>
    <meta http-equiv="Refresh" content="{{ page.redirect.time }}; url='{{ page.redirect.url }}'" />

  {% endif %}
  
</head>
