<!-- Header -->
{% assign title = page.title | default: site.data.sitetext.header.title %}
{% assign title = page.header.title | default: title %}

{% assign text = page.header.text %}
{% assign button = page.header.button %}
{% assign buttonlink = page.header.buttonlink %}
{% assign header-image = page.header.image | default: site.data.sitetext.header.image %}

<style>
  header.masthead {

    position: relative;

    background-image: url({{ header-image }});
  }

  .overlay {

    height: 100%;
    width: 100%;
    
    background-color: #0000006b;
  }
</style>

<header class="masthead">

  <div class="{%- if page.header.overlay == 'yes' or page.header.overlay == nil -%} overlay {%- endif -%}">
    <div class="container">
      <div class="intro-text">

        {%- if title -%}
          <div class="intro-lead-in">{{ title | markdownify }}</div>
        {%- endif -%}

        {%- if text -%}
          <div class="intro-heading text-uppercase">{{ text | markdownify }}</div>
        {%- endif -%}

        {%- if button -%}
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ buttonlink }}">{{ button }}</a>
        {%- endif -%}
        
      </div>
    </div>
  </div>

</header>
<!-- End Header -->
