{% include svg.html icon='fa-bars' %}

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" >

    <div class="container">

      <a class="navbar-brand" href="{{ site.baseurl }}/#">
          {%- if site.logo -%}
            <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}"/>
          {%- else -%}
            {{ site.title }}
          {%- endif -%}
      </a>

      <input id="navToggler" type="checkbox" aria-hidden="true" tabindex="-1" class="toggle"/>
      <label class="navbar-toggler navbar-toggler-right" 
              for="navToggler"
              type="button" 
              aria-controls="navbarList" 
              aria-label="Toggle navigation">
        Menu

        <svg class="">
          <use xlink:href="#fa-bars"></use>
        </svg>
      </label>

      <div class="collapse navbar-collapse" id="navbarList">
        <ul class="navbar-nav text-uppercase ml-auto">
          {%- for link in site.data.navigation.nav -%}
            <li class="nav-item">
              {%- if link.url -%}
                <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
              {%- else if link.section -%}
                <a class="nav-link" href="{{ site.baseurl }}/#{{ link.section }}">{{ link.title }}</a>
              {%- else -%}
                <a class="nav-link" href="#">{{ link.title }}</a>
              {%- endif -%}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navigation -->
