<!-- Bootstrap core CSS -->
<link href="/assets/css/carousans.min.css" rel="stylesheet">

<style>
  .carosans-platforms {
    --numOfItemsInView: 1;
    --portionVisibleOfExtraItem: -0;
    /* --gapSize: 7rem; */
    --transitionDuration: 1000ms;
    --transitionTiming: ease;
  }

  @media (min-width: 520px) {
    .carosans-platforms {
      --numOfItemsInView: 2;
    }
  }

@media (min-width: 790px) {
  .carosans-platforms {
    --numOfItemsInView: 3;
  }
}

@media (min-width: 1600px) {
  .carosans-platforms {
    --numOfItemsInView: 4;
  }
}

@media (min-width: 1600px) {
  .carosans-platforms {
    --numOfItemsInView: 5;
  }
}

@media (min-width: 3400px) {
  .carosans-platforms {
    --numOfItemsInView: 6;
  }
}
</style>

<!-- Platforms -->
<section class="py-5" id="platforms">
  
  <div class="container-fluid carosans-outer carosans-platforms">

    <div class="carosans-inner align-items-center">
      <!-- platforms list won't be so short -->
      {% assign repeat = 2 %}
      {% for i in (1..repeat) %}

        {% for platform in site.data.sitetext.platforms.list %}
          <div class="carosans-item">
            <a target="_blank" href="{{ platform.url }}">
              <img class="img-fluid d-block mx-auto" 
                    src="{{ platform.logo }}" 
                    alt="{{ platform.title }}" 
                    style="max-height: {{ site.data.sitetext.platforms.max-height | default: '100px' }}; max-width: 200px;">
            </a>
          </div>
        {% endfor %}

      {% endfor %}
    </div>
    
  </div>
</section>
