<style>

  @media (min-width: 576px) {
    .card-columns {
      column-count: 1;
    }
  }

  @media (min-width: 768px) {
    .card-columns {
      column-count: 2;
    }
  }

  @media (min-width: 992px) {
    .card-columns {
      column-count: 3;
    }
  }

</style>

<!-- Portfolio Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio.section | default: 'portfolio' }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        {% if include.filters.first %}
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.portfolio.title | html_strip | default: "Portfolio" }}</h2>
        {% else %}
          <h1 class="section-heading text-uppercase">{{ include.title | html_strip | default: "Portfolio" }}</h1>
        {% endif %}
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.portfolio.text | html_strip }}</h3>
      </div>
    </div>

    <div class="row">
      <!-- prints diferent layout for single category -->
      {% if include.filters.first %}
        <div class="tab_container col-lg-12">

          {% for filter in include.filters %}
            {% assign projects_filtered = site.projects | where: "categories", filter | sort: 'position', 'last' %}

            <div class="tab">
          
              <input type="radio" 
                      id="tab-{{ forloop.index }}" 
                      name="tab-group-2" 
                      {% if filter == include.default_tab %}checked{% endif %}>
              <label for="tab-{{ forloop.index }}">{{ filter }}</label>

              <div class="content">
                <div class="card-columns">
                
                  {% for project in projects_filtered %}
                      <div class="card portfolio-item border-0">
                        <!-- thumbnail -->
                        <a class="portfolio-link" href="{{ project.url }}">
                          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
                        </a>
              
                        <!-- caption -->
                        <div class="portfolio-caption">
                          <h4>
                            <a class="text-body text-truncate text-decoration-none" href="{{ project.url }}">{{ project.caption.title }}</a>
                          </h4>
              
                          <p class="text-muted">{{ project.caption.subtitle | downcase }}</p>
                        </div>
                      </div>
                      
                      
                    {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="col-lg-12">
          <div class="card-columns">

            {% for filter in include.filters %}
              {% assign projects_filtered = site.projects | where: "categories", filter %}

              {% for project in projects_filtered %}
                <div class="card portfolio-item border-0">
                  <!-- thumbnail -->
                  <a class="portfolio-link" href="{{ project.url }}">
                    <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
                  </a>
        
                  <!-- caption -->
                  <div class="portfolio-caption">
                    <h4>
                      <a class="text-body text-truncate text-decoration-none" href="{{ project.url }}">{{ project.caption.title }}</a>
                    </h4>
        
                    <p class="text-muted">{{ project.caption.subtitle }}</p>
                  </div>
                </div>
              {% endfor %}

            {% endfor %}

          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>
