<style>

</style>

<!-- Privacy Terms -->
<section class="pt-0">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="page__title">Privacy Policy</h1>
      <p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit {{ site.title }} (the “Site”).</p>
    </div>
  </div>

  <div class="my-5">
    <div class="row py-4 d-flex justify-content-center">
      {%- for term in site.data.sitetext.privacy.terms -%}
        <div class="col-md-6 col-lg-5">
          <h2 class="term__title">{{ term.title | html_strip }}</h2>
          <p class="term__text">{{ term.text | html_strip  }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <h2 class="section-heading text-uppercase h4">CONTACT US</h2>
      <p>For more information about our privacy practices or if you have questions, please contact us by email at <a href="{{ site.email | prepend: 'mailto:' | encode_email }}">{{ site.email | encode_email }}</a>.</p>
    </div>
  </div>
</section>
<!-- End Privacy Terms -->
