<!-- Services -->
  <section class="page-section" id="{{ site.data.sitetext.services.section | default: "services" }}">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.services.title | default: "Services" }}</h2>
          {% if site.data.sitetext.services.text %}
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext.services.text }}</h3>
		  {% endif %}
        </div>
      </div>
      {% assign icons = "" | split:"|" %}

      {% for service in site.data.sitetext.services.list %}
        {% assign icon = "{{ service.icon | default: 'fas fa-shopping-cart' }}" %}
        {% assign icons = icons | push: service.icon %}
      {% endfor %}
      
      {% include svg.html icons=icons %}
	  
      <div class="row text-center">
	  {% for service in site.data.sitetext.services.list %}
        <div class="col-md-4">
          <span class="service_icon--container">            
            <svg class="service_icon">
              <use xlink:href="#{{ service.icon | default: 'fas fa-shopping-cart' }}"></use>
            </svg>
          </span>
          <h4 class="service-heading">{{ service.title | markdownify }}</h4>
          {% if service.desc %}<div class="text-muted">{{ service.desc | markdownify }}</div>{% endif %}
        </div>
	  {% endfor %}
      </div>
	  
    </div>
  </section>
<!-- End Services -->
