<!-- Header -->
{% assign title = page.title | default: site.data.sitetext.header.title %}
{% assign title = page.header.title | default: title %}

{% assign text = page.header.text %}
{% assign button = page.header.button %}
{% assign buttonlink = page.header.buttonlink %}
{% assign header-image = page.header.image | default: site.data.sitetext.header.image %}

<style>
  {% for slide in page.slider %}
    #slide-{{ forloop.index }} {
  
      background-image: url('{{ slide.thumbnail }}');
    }
  {% endfor %}
</style>

  <section class="p-0 vh-100" aria-label="Gallery">

    <div class="slider__overlay"></div>

    <div class="slider">
      <ol class="slider__viewport">
        {% for slide in page.slider %}
          <li id="slide-{{ forloop.index }}"
              tabindex="0"
              class="slider__slide slider__slide--image">

            <div class="slider__content">
              <div class="slider__content--wrapper">
                <h2 class="slider__content--title anim_typewriter">{{ slide.title }}</h2>
              </div>
            </div>

            <div class="slider__snapper">

              {% case forloop.index %}
                {% when 1 %}
                  <a href="#slide-{{ forloop.length }}"
                    class="slider__prev">Go to last slide</a>
                  <a href="#slide-{{ forloop.index | plus: 1 }}"
                    class="slider__next">Go to next slide</a>

                {% when forloop.length %}
                  <a href="#slide-{{ forloop.index | minus: 1 }}"
                    class="slider__prev">Go to last slide</a>
                  <a href="#slide-1"
                    class="slider__next">Go to next slide</a>

                {% else %}
                  <a href="#slide-{{ forloop.index | minus: 1 }}"
                    class="slider__prev">Go to last slide</a>
                  <a href="#slide-{{ forloop.index | plus: 1 }}"
                    class="slider__next">Go to next slide</a>
              {% endcase %}

              {% include svg.html icon='fa-expand' %}
              
              <a href="#{{ slide.title | slugify }}-lightbox" class="slider__slide--full">
                <svg class="slider__slide--full-icon">
                  <use xlink:href="#fa-expand"></use>
                </svg>
              </a>
              
            </div>
          </li>
        {% endfor %}
      </ol>

      {% for slide in page.slider %}
        <div id="{{ slide.title | slugify }}-lightbox" 
             lightbox="top" 
             lightbox="fast" 
             lb_close="br">

          {% include svg.html icon='fa-times' %}

          <a href="#screenarea">
            <svg class="lightbox_close-icon">
              <use xlink:href="#fa-times"></use>
            </svg>
          </a>
          <h2>{{ slide.title }}</h2>
          
          <a target="_blank" href="{{ slide.thumbnail }}">
            <img src="{{ slide.thumbnail }}">
          </a>

        </div>
      {% endfor %}
      
      <aside class="slider__navigation">
        <ol class="slider__navigation-list">
          {% for slide in page.slider %}
            <li class="slider__navigation-item">
              <a href="#slide-{{ forloop.index }}"
                class="slider__navigation-button">
                
                Go to slide {{ forloop.index }}
              </a>
            </li>
          {% endfor %}
        </ol>
      </aside>
    </div>

  </section>
  <!-- End Header -->
