<!-- Summary -->
  <section id="summary" class="page-section bg-light">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading text-uppercase text-center">{{ page.title }}</h2>
          
          {{ page.content }}

          {% if page.summary.demo %}
          <p class="section-subheading text-muted">
            <strong>Live demo</strong>: <a href="{{ page.summary.demo }}" target="_blank">{{ page.summary.demo }}</a>
          </p>
          {% endif %}
        </div>
      </div>
      	  
    </div>
  </section>
<!-- End Summary -->
