
<svg aria-hidden="true" 
    style="position: absolute; width: 0; height: 0; overflow: hidden;" 
    version="1.1" 
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink">

  <defs>
    {% if include.icons.first %}

      {% for icon in include.icons %}
        {{ site.data.icons[icon] }}
      {% endfor %}

    {% else %}

      {{ site.data.icons[include.icon] }}

    {% endif %}
  </defs>
</svg>
