<!-- timeline -->
  <section class="page-section" id="{{ page.timeline.section | default: 'about' }}">
    <div class="container">
      <div class="row" style="margin-bottom: 6em;">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ page.timeline.title | default: "Road Map" | html_strip }}</h2>
          <p class="section-subheading text-muted">{{ page.timeline.subtitle | default: "This is the course of our actions, throughout the project." | html_strip }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            {%- assign align = page.timeline.start_align -%}

            {%- for event in page.timeline.events -%}
              {%- if align == "right" -%}
                {%- if event.align and event.align == "left" -%}
                  {%- assign align = "right" -%}
                  <li>
                {%- else -%}
                  {%- assign align = "left" %}
                  <li class="timeline-inverted">
                {% endif %}
              {% else %}
                {%- if event.align and event.align == "right" -%}
                  {%- assign align = "left" -%}
                  <li class="timeline-inverted">
                {%- else -%}
                  {%- assign align = "right" %}
                  <li>
                {% endif %}
              {%- endif -%}

              <div id="{{ event.title | slugify }}-timeline" 
                    lightbox="top" 
                    lightbox="fast" 
                    lb_close="br">

                <a href="#screenarea">
                  <svg class="lightbox_close-icon">
                    <use xlink:href="#fa-times"></use>
                  </svg>
                </a>
                <h3>{{ event.title }}</h3>
                
                <a target="_blank" href="{{ event.image.src }}">
                  <img src="{{ event.image.src }}" alt="{{ event.alt | default: ''}}">
                </a>
                
              </div>

              {% include svg.html icon='fa-eye' %}

              <a href="#{{ event.title | slugify }}-timeline" 
                  class="timeline-image"
                  style="background-image: url({{ event.image.src }}); {{ event.image.art_direction }}">

                  <svg class="timeline_expand-icon">
                    <use xlink:href="#fa-eye"></use>
                  </svg>
                </a>

              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="h6">{{ event.year | html_strip }}</h4>
                  <h3 class="subheading text-capitalize">{{ event.title }}</h3>
                </div>
                
                {%- if event.translated -%}
                  <div class="timeline-body" style="font-style: italic;">
                    <div class="ba__before text-muted">
                      <blockquote>{{ event.desc[0] | html_strip }}</blockquote>
                      <blockquote class="ba__after ba__anim">
                        {{ event.desc[1] | html_strip }}
                      </blockquote>
                    </div>
                  </div>
                {%- else -%}
                  <div class="timeline-body">
                    <div class="text-muted">
                      {{ event.desc | markdownify }}
                    </div>
                  </div>
                {%- endif -%}
              </div>
                  </li>
            {% endfor %}	
                  
            {% if page.timeline.end %}	
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h3>{{ page.timeline.end }}</h3>
                </div>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </section>
<!-- End About -->
