.page {

  &__title {

    margin-bottom: 1em;
    text-transform: uppercase;
  }
}

.term {

  &__title {

    font-size: 1.1rem;
    text-transform: uppercase;
  }

  &__text {

    text-align: justify;
  }
}
