@keyframes height-boomerang {
  0%{height: 0;}
  40%{height: 100%;}
  50%{height: 100%;}
  90%{height: 0;}
  100%{height: 0;}
}

.ba {

  &__before {

    position: relative;
    
    .ba__after {
  
      color: $primary-link;

      position: absolute;
      top: 0;
      left: 0;
  
      width: 100%;
      max-height: 100%;
      box-sizing: border-box;
      overflow: hidden;
    }

    &:hover .ba__after {
  
      resize: vertical;

      height: 1.5rem;
      
      animation-name: none;
    }
  }
  
  &__anim {

    background: white;
  
    animation: height-boomerang 10s infinite linear;
  }
}
