$transition-all: all 0.3s;
$transition-padding--bottom: padding-top 0.3s, padding-bottom 0.3s;

#main {

  width:100%;
}

#main:hover #mainNav {

  border: none;

  -webkit-transition: $transition-all;
  -moz-transition: $transition-all;
  -o-transition: $transition-all;
  transition: $transition-all;

  -webkit-transition: $transition-padding--bottom;
  -moz-transition: $transition-padding--bottom;
  transition: $transition-padding--bottom;

  padding-top: 25px;
  padding-bottom: 25px;

  .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}

#mainNav {

  -webkit-transition: $transition-all;
  -moz-transition: $transition-all;
  -o-transition: $transition-all;
  transition: $transition-all;
  
  padding-top: 0;
  padding-bottom: 0;
  
  background-color: $gray-900;

  .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}
