// Styling for the horizontally scrolling platforms section
#scrolling-platforms {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.col-md-3 .col-sm-6 {
  flex: 0 0 auto;
}
