@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.slider {

  position: relative;
  height: 100%;

  padding: 0;

  // scrollbar
  * {

    -ms-overflow-style: none;
    box-sizing: border-box;

    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;

    &::-webkit-scrollbar {
      width: 0;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  
    &::-webkit-scrollbar-thumb {

      background: transparent;
      border: none;
    }
  }

  // items
  ol, li {

    list-style: none;

    margin: 0;
    padding: 0;
  }

  &__overlay {

    position: absolute;
    
    z-index: 1;

    height: 100%;
    width: 100%;
    
    background-color: #0000006b;
  }

  // viewport
  &__viewport {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    overflow-x: hidden;

    counter-reset: item;

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  &__slide {

    position: relative;

    flex: 0 0 100%;

    width: 100%;

    counter-increment: item;

    &--image {

      background-color: $primary;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      transition: all .5s;
    }

    &--full {

      color: white;
      text-decoration: none !important;
      
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      z-index: 6;

      background: $gray-900;

      width: 2rem;
      height: 2rem;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      transition: all 0.1s;

      &:hover {

        color: $gray-900;
        fill: $gray-900;

        background-color: $primary;
        transition: all 0.1s;
      }

      &:hover {

        color: $gray-900;

        background-color: $primary;
        transition: all 0.1s;
      }

      &-icon {

        height: inherit;
        width: 50%;

        fill: white;
        transition: all 0.1s;
      }

      &:hover &-icon {
        
        fill: $gray-900;
        transition: all 0.1s;
      }
    }
  }

  &__content {

    z-index: 1;
    position: relative;
    
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;

    &--title {

      font-size: 2.5rem;
    }

    &--wrapper {

      font-size: 2.5rem;

      color: $white;

      background: #212529;

      display: flex;
      padding: 10px;

      * {
        margin-bottom: 0;
        line-height: inherit;
      }

      &::before {

        content: "$ ";

        color: $primary;

        padding: 0 10px;
      }
    }
  }
  
  &__snapper {

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    &__snapper {

      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    &__slide:last-child &__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    &__snapper {
      animation-name: none;
    }
  }
  
  &:hover &__snapper,
  &:focus-within &__snapper {
    animation-name: none;
  }
  
  &__navigation {

    counter-reset: css-counter 0;

    z-index: 5;

    position: absolute;
    right: 0;
    bottom: 1rem;
    left: 0;

    text-align: center;
  
    &-list,
    &-item {
      display: inline-block;
    }
    
    &-button {

      $size: 1.8rem;

      counter-increment: css-counter 1;

      display: inline-block;

      font-size: 0;
      color: $gray-500;

      transition: transform 0.1s;

      cursor: pointer;

      display: block;
      position: inherit;
      
      width: $size;
      height: $size;
      margin: 0 0.3rem;
      border: 0.15rem solid transparent;
      border-radius: 50%;

      background: $gray-900;
      background-clip: content-box;

      &:after {

        content: counter(css-counter);

        font-size: 0.7rem;
        font-weight: bolder;

        display: inline-block;
        margin-top: 0.2rem;
      }

      &:hover,
      &.active {

        color: $gray-900;

        background-color: $primary;
        transition: all 0.1s;
      }
    }
  }
  
  &::before,
  &::after,
  &__prev,
  &__next {

    z-index: 2;

    position: absolute;

    width: 20rem;
    height: 100%;;

    font-size: 0;
  }
  
  &::before,
  &__prev {
    left: 0;
  }
  
  &::after,
  &__next {
    right: 0;
  }
  
  &::before,
  &::after {

    content: '';

    z-index: 1;

    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;

    color: #333;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;

    pointer-events: none;
  }
  
  &.arrow--left::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  &.arrow--right::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
}
