.tab {

  &_container {

    display: flex;

    // this is a fucking shame.
    // you need to update this crap everytime more projects are uploaded
    &::after {

      content: "";
  
      height: 2660px;

      @media (min-width: 576px) {

        height: 2530px;
      }
    
      @media (min-width: 768px) {

        height: 1050px;
      }
    
      @media (min-width: 992px) {

        height: 700px;
      }
    
      @media (min-width: 1200px) {

        height: 800px;
      }
    }
  }

  & label {

    @include heading-font;

    background: transparent;
  
    padding: 10px;
  
    position: relative;
  }

  & [type="radio"] {
    opacity: 0;
  }
}

.content {

  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;

  margin-top: 40px;

  // overflow: hidden;

  & > * {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.6s ease;
  }
}

[type="radio"] {


  // &:focus ~ label {
  //   outline: 2px solid blue;
  // }
  
  &:checked ~ label {

    background: #fed136;
    z-index: 2;

    text-transform: uppercase;
    font-weight: 700;
  }
  
  &:checked ~ label ~ .content {
    z-index: 1;
    opacity: 1;
  }
  
  &:checked ~ label ~ .content > * {
    opacity: 1;
    transform: translateX(0);
  }
}
