/* text animation */
@keyframes animated-text {
  from{width: 0;}
  to{width: 100%;}
}

/* cursor animations */
@keyframes animated-cursor {
  from{border-right-color: $primary;}
  to{border-right-color: transparent;}
}

.anim {

  &_bg--boomerang-slow {

    animation: bg-zoom-in-out 20s infinite linear,
  }

  &_typewriter {

    border-right: solid 3px $primary;
    white-space: nowrap;

    overflow: hidden;

    animation: animated-text 1s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }

  &_loading {

    &--ring {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    &--ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #000;
      border-radius: 50%;
      animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #000 transparent transparent transparent;
    }
    &--ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    &--ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    &--ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes loading-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

