<!DOCTYPE html>
<html>

  {% if page.background == "grey" or page.background == "gray" %}
    {% assign bglight = "bg-light" %}
  {% endif %}

  {% include head.html %}

  <body id="page-top" class="{{ bglight }}">

    {{ content }}

	  {% include footer.html %}
	  <!-- Scripts for carosans -->
	  <script src="/assets/js/carousans.min.js" defer></script>

	  <!-- Custom scripts for this template -->
	  <script src="/assets/js/agency.min.js" defer></script>

  </body>
</html>
