---
layout: default
sitemap: false
---

{% include nav.html %}

<div class="redirect_container">
  
  <div class='redirect_body'>
    <span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class='redirect_base'>
      <span></span>
      <div class='redirect_face'></div>
    </div>
  </div>

  <div class='redirect_longfazers'>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <h1 class="redirect_title">redirecting you to <b class="redirect_title--strong">{{ page.title }}</b>...</h1>

  <p class="redirect_warning">If you're not redirected in {{ page.redirect.time }} seconds, <a href="{{page.redirect.url}}">click here!</a></p>
</div>
