/* kaushan-script-regular - latin-ext_latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/css/webfonts/kaushan-script/kaushan-script-v9-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/css/webfonts/kaushan-script/kaushan-script-v9-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/css/webfonts/kaushan-script/kaushan-script-v9-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/css/webfonts/kaushan-script/kaushan-script-v9-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/css/webfonts/kaushan-script/kaushan-script-v9-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/css/webfonts/kaushan-script/kaushan-script-v9-latin-ext_latin-regular.svg#KaushanScript') format('svg'); /* Legacy iOS */
}
