// Styling for the footer
.footer {
  padding: 25px 0;
  text-align: center;
  
  span.copyright {

    font-size: 90%;
    line-height: 40px;
    text-transform: none;

    @include heading-font;
  }

  ul.quicklinks {

    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;

    @include heading-font;
  }
}

ul {

  .link-buttons {

      &--name {
    
      font-size: 0;
    }


    &--icon {

      display: inline-block;

      width: 1em;
      height: 1em;
      
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
    }
  }

  &.link-buttons {

    margin-bottom: 0;
  
    li {
      a {
  
        $transition: all 0.3s;
  
        -webkit-transition: $transition;
        -moz-transition: $transition;
        transition: $transition;
  
        font-size: 20px;
        color: white;
  
        display: block;
        width: 50px;
        height: 50px;
        
        border-radius: 100%;
        background-color: $gray-900;
        outline: none;
  
        display: flex;
        align-items: center;
        justify-content: center;
  
        &:active,
        &:focus,
        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
