// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.service_icon {

  fill: white;

  width: 60%;
  position: relative;


  &--container {

    $side: 8rem;
    
    align-items: center;
    justify-content: center;

    display: flex;
    margin: auto;
    height: $side;
    width: $side;
    border-radius: 50%;

    background: #fed136;
  }
}

